.footer{
    background-color: $color-grey-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    
    &__logo-box{
        text-align: center;
        margin: 0 auto; 
        padding-bottom: 5rem;      
    }
    &__logo{
        height: 15rem;
        width: auto;
    }
    &__navigation{
        border-top: 1px solid $color-grey;
        display: inline-block;
    }
    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.3rem;
        }
    }
    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            background-color: $color-grey-3;
            color: $color-grey-1;    
            text-transform: uppercase;
            display: inline-block;
            transition: all .3s;
        }

        &:hover,
        &:active{
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.1);
        }
    }
    
}